<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="/css"  rel="stylesheet">
    <title>Form</title>
  </head>
  <body>
    <form class="body-form" method="" action="">
        <div class="form-control">
            <label for="FullName">FullName</label>
            <input type="text" name="fullame" placeholder="FullName">
        </div>

        <div class="form-control">
            <label for="age">Age</label>
            <input type="text" name="age" placeholder="Age">
        </div>

        <input id="submit" type="button" value="submit">
    </form>
  </body>
</html>
