<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Form</title>
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <form class="user-form" action="/result" method="POST">
        <div class="form-control">
          <lable for="">FullName</lable>
          <input type="text" name="name" placeholder="Full Name" />
        </div>
        <div class="form-control">
          <lable for="">Age</lable>
          <input type="text" name="age" placeholder="Age" />
        </div>
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
