<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main>
      <% if(prods.length > 0) {%>
      <div class="grid">
        <% for(let product of prods) { %>
        <article class="card product-item">
          <header class="card__header">
            <h1 class="produt__title"><%= product.productName%></h1>
          </header>
          <div class="card__image">
            <img src="<%= product.image%>" alt="A Book" />
          </div>
          <div class="card__content">
            <h2 class="product__price"><%= product.price%></h2>
            <p class="product__description"><%= product.description%></p>
            <div class="card__actions">
              <button class="btn">Add to Cart</button>
            </div>
          </div>
        </article>
        <% } %>
      </div>
      <% } else { %>
      <h1>No Products Found!</h1>
      <% } %>
    </main>
  </body>
</html>
