<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/folder/script/myScript.js"></script>
  </head>
  <body>
    <!-- <form id="myForm"> -->
    <input id="myQuestion" />
    <button id="mybutton" type="button">Ask 8 Ball</button>
    <!-- </form> -->
    <p id="myPar"></p>
  </body>
</html>
